<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Question</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            // Update chapters and auto-load quizzes when subject selection changes
            $('#subject').change(function() {
                var subjectId = $(this).val();
                $.getJSON('/get_chapters/' + subjectId, function(data) {
                    var chapterSelect = $('#chapter');
                    chapterSelect.empty();
                    // Hide quiz container until a chapter is selected
                    $('#quiz-container').hide();
                    if (data.length === 0) {
                        $('#quiz').empty();
                    } else {
                        // Populate chapter dropdown
                        $.each(data, function(index, chapter) {
                            chapterSelect.append($('<option></option>').attr('value', chapter[0]).text(chapter[1]));
                        });
                        // Trigger change event on chapter to automatically load associated quizzes
                        chapterSelect.change();
                    }
                });
            });

            // Update quizzes when chapter selection changes
            $('#chapter').change(function() {
                var chapterId = $(this).val();
                $.getJSON('/get_quizzes/' + chapterId, function(data) {
                    var quizSelect = $('#quiz');
                    quizSelect.empty();
                    if (data.length > 0) {
                        $.each(data, function(index, quiz) {
                            quizSelect.append($('<option></option>').attr('value', quiz[0]).text(quiz[1]));
                        });
                        // Show quiz container when quizzes are found
                        $('#quiz-container').show();
                    } else {
                        // Hide quiz container if there are no quizzes for the chosen chapter
                        $('#quiz-container').hide();
                    }
                });
            });

            // Trigger subject change on page load to initialize dropdowns
            $('#subject').trigger('change');
        });
    </script>
</head>
<body>
    <h1>Create Question</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div>
            {{ form.text.label }}<br>
            {{ form.text(size=32) }}<br>
            {% for error in form.text.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.answer.label }}<br>
            {{ form.answer(size=32) }}<br>
            {% for error in form.answer.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            <label for="subject">Subject:</label><br>
            {{ form.subject(default='1') }}<br>
            {% for error in form.subject.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            <label for="chapter">Chapter:</label><br>
            {{ form.chapter(default='1') }}<br>
            {% for error in form.chapter.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div id="quiz-container" style="display:none;">
            <label for="quiz">Quiz:</label><br>
            {{ form.quiz() }}<br>
            {% for error in form.quiz.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
            <div>
                <button type="button" id="add_question">Add Question</button>
            </div>
            <script>
                $('#add_question').click(function() {
                    // Submit the form
                    $('form').submit();
                });
            </script>
        </div>
    </form>
    <a href="{{ url_for('admin_dashboard') }}">Back to Admin Dashboard</a>
</body>
</html>
